body {
  margin: 0;
  padding: 0;
  font-weight: 150;
  font-family: 'Open Sans', sans-serif;
  align-content: center;
  justify-content: center;
}

.heading {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.subheading {
  font-weight: 300;
  font-famiily: 'Open Sans', sans-serif;
}
